


@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    text-decoration: none;
 }
 body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
 }
 .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
 }
 .logo{ 
    height: 72px;}

.cabecalho-menu{
    display: flex;
    gap: 32px;
    }
.cabecalho-menu-item{
    font-family: 'sarala', sans-serif;
    color: #fff2ef;
    font-weight: 400;
    font-size: 18px;
}
.conteudo{
    border-top: 0.4px solid #fff2ef;
    margin-bottom: 48px;
}
.conteudo-pricipal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-pricipal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;

}
.conteudo-pricipal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
}
.conteudo-pricipal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}
.conteudo-pricipal-escrito-botao{
    background-color: #ecd6c4;
    width: 185px;
    height: 67px;
    border-radius: 20px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;
}
.conteudo-pricipal-escrito-botao:hover{ 
    background-color: rgba(236, 214, 196, 0.53);
}
.conteudo-pricipal-imagem{
    height: 430px;

}
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    font-size: 25px;
}
.conteudo-secundario-titulo{
    border-top: 0.4px solid #fff2e7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 34px;
    color: #fff2ef;
    margin-bottom: 16px;
}
.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #ecd6c4;
}
.rodape{
    padding: 42px;
    border-top: 0.4px solid #fff2e7;


}
.rodape-imagem{
    height: 200px;
    display: block;
    margin: 0 auto;
}
#tr{
    border: 0.2px solid #2f232500;
    border-collapse:collapse;
    padding: 2px;
    text-align: center;
}
#prox{
    text-align: right;
    color: black;
    font-size: 20px;
}